#engrid-ie-warning {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100vw;
  height: 100%;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.9);
  .engrid-ie-warning-content {
    position: relative;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    margin: 40px auto;
    h2 {
      font-size: 26px;
      color: #444;
      margin-top: 0;
      margin-bottom: 20px;
    }
    p {
      font-size: 16px;
      line-height: 1.3;
    }
    .browsers {
      margin-top: 30px;
      display: block;
      a {
        display: block;
        width: 100%;
        text-align: left;
        text-decoration: none;
        font-weight: normal;
        > img,
        svg {
          display: inline-block;
          margin-right: 10px;
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }
      }
    }
  }
}
